/* MAIN */

@import "form_mixin";

.main {
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 50px;
  max-width: 1100px;
  display: flex;
}

.main-left {
  width: 45%;
  padding: 40px;
  min-height: 300px;
  // background-color: #eee;
  background-image: image-url("blueprint.jpeg");
  background-size: cover;
  opacity: 0.8;
}

.main-right {
  width: 55%;
  padding: 40px;
}

@media (max-width: 995px) {
  .main-left, .main-right {
    width: 100%;
  }
  
  .main {
    flex-direction: column-reverse;
  }
}

.main-right div {
}

.main-header {
  font-family: serif;
  font-size: 80px;
  font-weight: 900;
  color: #2a364c;
  margin-bottom: 30px;
}

.main-body {
  font-family: 'Raleway', sans-serif;
  color: #777;
  font-size: 19px;
  line-height: 1.5em;
  margin-bottom: 20px;
  font-weight: 300;
  letter-spacing: 1px;
}

.main-signup-input {
  @include input-field;
  padding-top: 16px;
  padding-bottom: 17px;
  margin-bottom: 10px;
  margin-right: 10px;
}

@media (min-width: 996px) and (max-width: 1100px) {
  .main-signup-input {
    width: 58%;
  }
}

@media (max-width: 800px) {
  .main-header {
    font-size: 10vw;
  }
  
  .main-form {
    display: flex;
    flex-direction: column;
  }
  
  .main-signup-input, .main-signup-button {
    width: 100%;
    margin-bottom: 20px;
  }
  
  .welcome-alternate {
    text-align: center;
  }
}

@media (max-width: 500px) {
  .main-body {
    font-size: 16px;
  }
}

.main-signup-input:focus {
  @include input-field-focus;
  border: 1px solid #383aa5;
}

.main-signup-button {
  @include session-button;
  background-color: #383aa5;
  border: none;
  padding: 20px 40px 20px 40px;
  font-size: 14px;
}

.main-signup-button:hover {
  @include session-button-hover;
  background-color: #262770;
  border: none;
}

.main-signup-button:active {
  @include session-button-active;
  background-color: #7185e2;
  border: none;
}

.welcome-alternate {
  color: #777;
  font-family: 'Raleway', sans-serif;
  font-size: 15px;
  font-weight: 300;
}

.welcome-alternate a {
  color: #383aa5;
  text-decoration: underline;
}
