@mixin input-field {
  border: 1px solid #bbb;
  padding: 13px;
  width: 300px;
  border-radius: 5px;
  font-family: 'Raleway', sans-serif;
  color: #333;
  font-weight: 300;
  font-size: 18px;
  outline: none;
  transition: border-color .1s ease;
  -webkit-transition: border-color .2s ease;
}

@mixin session-button {
  outline: none;
  color: white;
  border: none;
  padding-bottom: 14px;
  padding-top: 13px;
  border-radius: 5px;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  font-size: 18px;
  transition: background-color .25s ease;
  -webkit-transition: background-color .25s ease;
  margin-bottom: 10px;
  background-color: #2ea06c;
  border-bottom: 3px solid #2ea06c;
  border-top: 2px solid #2ea06c;
  /* TODO: Maybe add compat for moz/o */
}

@mixin input-field-focus {
  border: 1px solid #888;
  outline: none;
}

@mixin input-field-hover{
  border-color: #888;
}

@mixin session-button-hover {
  cursor: pointer;
  border-bottom: 3px solid #1c6644;
  border-top: 2px solid #2ea06c;
}

@mixin session-button-active {
  outline: none;
  border: none;
  border-bottom: 3px solid #2ea06c;
  border-top: 2px solid #1c6644;
}
