
@mixin input-field {
  border: 1px solid #ccc;
  padding: 19px;
  width: 300px;
  border-radius: 5px;
  font-family: 'Raleway', sans-serif;
  color: #555;
  font-weight: 300;
  font-size: 16px;
  outline: none;
  transition: border-color .1s ease;
  -webkit-transition: border-color .2s ease;
}

@mixin session-button {
  color: white;
  border: none;
  background-color: #383aa5;
  padding: 20px 40px 20px 40px;
  border-radius: 5px;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  font-size: 14px;
  transition: background-color .25s ease;
  -webkit-transition: background-color .25s ease;
  margin-bottom: 10px;
  /* TODO: Maybe add compat for moz/o */
}

@mixin input-field-focus {
  border: 1px solid #383aa5;
  outline: none;
}

@mixin session-button-hover {
  cursor: pointer;
  background-color: #262770;
}

@mixin session-button-focus {
  outline: none;
  background-color: #7185e2;
}

/* NOT A MIXIN, GLOBAL EFFECTS */

@-webkit-keyframes fadein {
  from { opacity: 0; }
  to { opacity: 1; }
}

@-webkit-keyframes slideup {
  from { transform: translateY(10px); }
  to { transform: translateY(0px); }
}
