/* CHANNEL DETAILS */

.channel-details {
  height: 100%;
  min-width: 250px;
  width: 300px;
  background-color: #ddd;
  display: flex;
  flex-direction: column;
  border-left: 1px solid #ddd;
}

.channel-details-header {
  display: flex;
  flex-shrink: 0;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ddd;
  background-color: #f8f8f8;
  height: 60px;
}

.channel-details-header-name {
  font-weight: 700;
  font-size: 19px;
  height: 22px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  margin-left: 10px;
}

.channel-details-header-x {
  cursor: pointer;
  padding: 6px 3px;
  color: #777;
  margin-right: 5px;
  transition: color .2s;
  -webkit-transition: color .2s;
}

.channel-details-header-x:hover {
  color: #3ca0e8;
}

// .channel-details * {
//   border: 1px solid red;
// }

.channel-details-list {
  border: 1px solid red;
}

.channel-details-list-show {
  border: 1px solid red;
  padding: 15px 10px;
}

.channel-details-list-header {
  font-weight: 700;
  margin-bottom: 5px;
}

.channel-details-list-body {
  
}
