/* CHANNEL DETAILS */

.channel-details {
  height: 100%;
  min-width: 250px;
  width: 400px;
  display: flex;
  flex-direction: column;
  border-left: 1px solid #ddd;
  cursor: default;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
}

.channel-details-header {
  display: flex;
  flex-shrink: 0;
  justify-content: space-between;
  align-items: center;
  background-color: #fafafa;
  height: 60px;
  border-bottom: 1px solid #ddd;
}

.channel-details-header-name {
  font-weight: 700;
  font-size: 19px;
  height: 22px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  margin-left: 10px;
}

.channel-details-header-name .fa-lock {
  margin-left: 7px;
  margin-right: 2px;
}

.channel-details-header-x {
  cursor: pointer;
  padding: 6px 3px;
  margin-right: 5px;
  transition: color .2s;
  -webkit-transition: color .2s;
}

.channel-details-header-x:hover {
  color: #3ca0e8;
}

.channel-details-list {
}

.channel-details-list-header {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  flex-shrink: 0;
  align-items: center;
  padding-left: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  font-weight: 400;
  color: #333;
  font-size: 19px;
  
  .fa-caret-down {
    transform: rotate(0deg);
    transition: .1s transform;
    -webkit-transition: .1s transform;
    
    &.collapsed { transform: rotate(-90deg); }
  }
}

.channel-details-list-border {
  border-bottom: 1px solid #ddd;
}

.channel-details-list-header .fa {
  margin-right: 10px;
}

.channel-details-list-header .fa-info-circle {
  color: #888;
}

.channel-details-list-header .fa-user-o {
  color: #39a846;
}

.channel-details-list-content {
  // javascrpt controls this height
  overflow: hidden;
  transition:height 0.3s ease-out;
  height:auto;
  
  &.collapsed {
    height: 0;
  }
}

.channel-details-list-section-header {
  margin-left: 10px;
  margin-right: 10px;
  font-weight: 700;
  color: #777;
  font-size: 14px;
}

.channel-details-list-section-body {
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 5px;
  color: #333;
  line-height: 24px;
  font-size: 16px;
  margin-bottom: 20px;
}

.channel-details-list-user {
  margin: 10px;
}

.channel-details-user-mini-item {
  border: 1px solid #fff;
  display: flex;
  flex-shrink: 0;
  align-items: center;
  padding: 3px;
  cursor: default;
}

.channel-details-user-mini-icon {
  margin-right: 7px;
}

.channel-details-user-mini-name {
}

.channel-details-user-mini-item:hover {
  border-color: #d1eeff;
  background-color: #eaf7ff;
}

.channel-details-list-invite {
  margin: 10px 0px 10px 10px;
  cursor: pointer;
  color: #3491d3;
  display: inline-block;
  margin-bottom: 50px;
}

.channel-details-list-invite:hover {
  text-decoration: underline;
}
