/* CHANNEL */

.channel-index-esc {
  font-size: 12px;
}

.channel-index-header {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 20px;
}

.channel-index-list-header {
  // font-size: 40px;
  font-weight: 400;
  color: #888;
  padding-left: 10px;
  padding-bottom: 10px;
}

.channel-index-list-container {
  overflow-y: auto;
  overflow-x: hidden;
  height: 500px;
}

.channel-index-list {
  display: flex;
  flex-direction: column-reverse;
}

.channel-index-list-li {
  padding: 20px 10px;
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  cursor: pointer;
  border: 1px solid #fff;
  border-bottom: 1px solid #ddd;
  color: #777;
  // height: auto;
  // overflow: visible;
  // display: flex;
}

.channel-index-list li:hover {
  background-color: #eaf7ff;
  border-radius: 5px;
  border: 1px solid #d1eeff;
}

.channel-index-list li:hover + li {
  border-bottom: 1px solid #fff;
}

.channel-index-list-item.title {
  display: flex;
}

.channel-index-list-item {
}

.channel-index-list-item.hashtag {
  margin-right: 4px;
}

.channel-index-list-item.name {
  color: #333;
  font-weight: 400;
  font-size: 16px;
}

.channel-index-list-item.description, .channel-index-list-item.date {
  margin-top: 5px;
}

.channel-index-list-item.users {
  
}
