@import "form_mixin";

.channel-form-new {
  display: flex;
  align-items: center;
  flex-direction: column;
  
}

.channel-form-input {
  @include input-field;
  width: 650px;
}

.channel-form-input-error {
  @include input-field;
  width: 650px;
  border: 1px solid #ff8c44;
}

.channel-form-input:hover {
  @include input-field-hover;
}

.channel-form-input:focus {
  @include input-field-focus;
}

.channel-form-submit {
  @include session-button;
  padding-left: 18px;
  padding-right: 18px;
}

.channel-form-submit:hover {
  @include session-button-hover;
}

.channel-form-submit:active {
  @include session-button-active;
}

.channel-form-button-container {
  width: 650px;
  display: flex;
  justify-content: flex-end;
}

.channel-form-cancel {
  @include session-button;
  padding: 15px 18px 16px 18px;
  cursor: pointer;
  color: #222;
  background-color: #fafafa;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-right: 10px;
}

.channel-form-cancel:hover {
  color: #3898c9;
  background-color: #fff;
}

.channel-form-cancel:active {
  -webkit-box-shadow: inset 0 1px 1px #888;
  box-shadow: inset 0px 1px 1px #888;
}
