/* CHAT-HEADER */

.chat-header {
  height: 60px;
  background-color: #fff;
  padding: 10px 0px 5px 20px;
  display: flex;
  justify-content: space-between;
}

.chat-header .button {
  transition: color .25s ease;
  -webkit-transition: color .25s ease;
}

.chat-header .button:hover {
  transition: color .25s ease;
  -webkit-transition: color .25s ease;
  cursor: pointer;
}

.chat-header-left {
  display: flex;
  flex-direction: column;
  cursor: default;
}

.chat-header-left-title {
  color: #111;
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 10px;
}

.chat-header-left-options {
  display: flex;
  font-size: 13px;
  color: #777;
}

.chat-header-left-options .button {
  /*padding: 1px 2px;*/
  margin: 0px 5px;
}

.chat-header-left-options .users:hover{
  color: blue;
}

.chat-header-right {
  /*padding-top: 7px;*/
  color: #777;
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.chat-header-right-options {
  font-size: 20px;
  padding-left: 4px;
  padding-right: 4px;
  margin-right: 10px;
}

.chat-header-right-options .button:hover {
  cursor: pointer;
}
