
.fullscreen-container {
  position: absolute;
  height: 100%;
  width: 100%;
  overflow: hidden;
  top: 0;
  left: 0;
  background-color: #fff;
  animation: fadein .3s;
  -webkit-animation: fadein .3s;
  padding-top: 100px;
  color: #333;
  z-index: 5;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
}

.fullscreen-inside {
  animation: slideup .3s;
  -webkit-animation: slideup .3s;
  margin: 0 auto;
  max-width: 650px;
  height: 100%;
}

.fullscreen-x {
  position: relative;
  // top: 100px;
  // right: 100px;
  left: 650px;
  font-size: 26px;
  color: #aaa;
  width: 60px;
  height: 60px;
  padding: 10px;
  text-align: center;
  border-radius: 50%;
  cursor: pointer;
}

.fullscreen-x:hover {
  background-color: #ddd;
  color: #333;
}

.fullscreen-x:active {
  background-color: #2ea06c;
  color: #f5f5f5;
}

.fullscreen-esc {
  font-size: 12px;
}

.fullscreen-header {
  font-size: 36px;
  font-weight: 700;
  // margin-bottom: 20px;
}

.fullscreen-subheader {
  // font-size: 40px;
  font-weight: 400;
  color: #777;
  // padding-left: 10px;
  margin: 20px 0px 0px 5px;
}

.fullscreen-subheader-underline {
  margin-top: 10px;
  border-bottom: 1px solid #ddd;
}

.fullscreen-input-container {
  margin-bottom: 20px;
}

.fullscreen-input-header {
  display: flex;
  margin-bottom: 5px;
  margin-top: 20px;
}

.fullscreen-input-title {
  font-weight: 600;
  font-size: 18px;
  color: #333;
  margin-right: 3px;
}

.fullscreen-input-optional {
  font-weight: 300;
  font-size: 16px;
  color: #888;
}

.fullscreen-input-description {
  margin-top: 5px;
  font-weight: 300;
  font-size: 12px;
  color: #888;
}

.fullscreen-popup-errors {
  font-weight: 600px;
  color: #ff8c44;
  margin-left: 10px;
  font-style: italic;
  font-size: 17px;
  overflow: hidden;
  max-height: 17px;
  width: 590px;
}

.fullscreen-input-switch-container {
  display: flex;
  width: 100%;
  align-items: center;
  margin-top: 20px;
}

.fullscreen-input-switch-text {
  color: #333;
  margin-left: 15px;
}

//////////////////////////////////

/* SLIDER */

.fullscreen-input-switch-box {
  position: relative;
  display: inline-block;
  width: 92px; //96
  height: 24px;
}

.fullscreen-input-switch-checkbox {
  display:none;
}

.fullscreen-input-switch-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #26845a;
  border-radius: 28px;
  -webkit-transition: .1s;
  transition: .1s;
}

.fullscreen-input-switch-slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 70px;
  bottom: 2px;
  background-color: white;
  border-radius: 50%;
  -webkit-transition: .1s;
  transition: .1s;
}

.fullscreen-input-switch-checkbox:checked ~ .fullscreen-input-switch-slider {
  background-color: #db6643;
}


.fullscreen-input-switch-checkbox:checked ~ .fullscreen-input-switch-slider:before {
  -webkit-transform: translateX(-68px);
  transform: translateX(-68px);
}

.fullscreen-input-switch-word {
  cursor: pointer;
  position: absolute;
  height: 24px;
  line-height: 24px;
  -webkit-transition: .1s;
  transition: .1s;
  left: 20px;
  color: #fff;
  font-weight: 300;
}

.fullscreen-input-switch-checkbox:checked ~ .fullscreen-input-switch-word {
  -webkit-transform: translateX(8px);
  transform: translateX(8px);
}

/////////////////////////////////

/* INSIDE THE LISTS */

.fullscreen-index-list-container {
  overflow-y: auto;
  overflow-x: hidden;
  height: calc(100% - 162px);
  margin-top: 20px;
}

.fullscreen-index-list-container-users {
  overflow-y: auto;
  overflow-x: hidden;
  height: calc(100% - 214px);
}

.fullscreen-index-list-container-sidebar {
  height: calc(100%);
  overflow-y: auto;
  overflow-x: hidden;
}

.fullscreen-index-list {
  display: flex;
  flex-direction: column-reverse;
}

.fullscreen-index-list-nonreversed {
  display: flex;
  flex-direction: column;
}

.fullscreen-index-list-li {
  padding: 14px 10px;
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  cursor: pointer;
  border: 1px solid #fff;
  border-bottom: 1px solid #ddd;
  color: #777;
  // height: auto;
  // overflow: visible;
  // display: flex;
}

.fullscreen-index-list .fullscreen-index-list-li:hover {
  background-color: #eaf7ff;
  border-radius: 5px;
  border: 1px solid #d1eeff;
}

.fullscreen-index-list .fullscreen-index-list-li:hover + .fullscreen-index-list-li {
  border-bottom: 1px solid #fff;
}

.fullscreen-index-list-item.title {
  display: flex;
}

.fullscreen-index-list-item {
  display: flex;
  align-items: center;
}

.fullscreen-index-list-item.hashtag {
  margin-right: 4px;
}

.fullscreen-index-list-item.name {
  color: #333;
  font-weight: 500;
  font-size: 16px;
}

.fullscreen-index-list-item.description, .fullscreen-index-list-item.date {
  margin-top: 7px;
  font-weight: 300;
}

.fullscreen-index-list-li:hover .fullscreen-index-list-item.users {
  display: none;
}

.fullscreen-index-list-item.preview {
  display: none;
  color: #00a1ff;
  font-weight: 300;
  font-size: 14px;
}

.fullscreen-index-list-item.preview .fa {
  font-size: 18px;
  margin-bottom: 5px;
}

.fullscreen-index-list-li:hover .fullscreen-index-list-item.preview {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}
