/* MESSAGES */


.message-container {
  height: calc(100% - 60px);
  min-width: 500px;
}

.message-index-overflow-wrapper {
  overflow-y: auto;
  overflow-x: hidden;
  height: calc(100% - 65px);
  width: calc(100% - 2px);
  display: flex;
  flex-direction: column;
}

.message-index-overflow-wrapper, .message-index {
  transform: scale(1, -1);
}

.message-index {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}

.message-index-item {
  line-height: 22px;
  display: flex;
  color: #333;
}

.message-index-item:last-of-type {
  margin-bottom: 15px;
}

.message-index-item-profile-image {
  margin: 15px 15px 0px 30px;
}

.message-index-item-content {
  margin: 15px 0px 0px 0px;
  display: flex;
  flex-direction: column;
  overflow-wrap: break-word;
  max-width: calc(100% - 100px);
}

.message-index-item-header {
  display: flex;
  align-items: baseline;
}

.message-index-item-name {
  font-weight: 700;
}

.message-index-item-time {
  font-weight: 300;
  margin-left: 5px;
  font-size: 12px;
  color: #888;
}

.message-index-item-body {
  font-weight: 400;
  font-size: 15px;
}

/* FORM */

.message-form {
  height: 65px;
  padding: 0px 10px 20px 20px;
  display: flex;
  width: 100%;
}

.message-form-form {
  width: calc(100% - 10px);
  position: relative;
}

.message-form-input-wrapper {
  height: 100%;
}

.message-form-plus {
  // background-color: rgba(0, 100, 0, .5);
  width: 45px;
  height: 100%;
  margin-right: 0px;
  border-right: 2px solid #bbb;
  position: absolute;
  top: 0;
  transition: border-color .2s;
  -webkit-transition: border-color .2s;
}

.message-form-input {
  border-radius: 5px;
  border: 2px solid #bbb;
  padding-left: 50px;
  width: 100%;
  outline: none;
  height: 100%;
  font-size: 15px;
  color: #333;
  font-weight: 400;
  transition: border-color .1s;
  -webkit-transition: border-color .1s;
}

.message-form-input:focus {
  border-color: #777;
}

.message-form-input:focus + .message-form-plus {
  border-color: #777;
}

// .message-form-outline: .message-form-input {
//
// }

@import "form_mixin";


.message-form-join-wrapper {
  align-items: center;
}

.message-form-join-button {
  @include session-button;
  cursor: pointer;
  font-size: 15px;
  text-align: center;
  width: 150px;
  padding: 10px 20px;
  margin: 0 auto;
}

.message-form-join-button:active {
  @include session-button-hover;
}

.message-form-join-button:hover {
  @include session-button-active;
}
