@mixin modal-interior {
  position: absolute;
  top: 60px;
  background-color: white;
  width: 200px;
  margin-left: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 10px;
  outline: none;
  box-shadow: 1px 3px 2px #222;
  animation: fadein .2s;
  -webkit-animation: fadein .2s;
}

@mixin modal-overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 1;
  top: 0;
}

@mixin modal-header {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: #333;
}

@mixin modal-button {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 300;
  cursor: pointer;
  color: #333;
  width: 100%;
  padding: 3px;
  border-radius: 3px
}

@mixin modal-button-hover {
  color: #eee;
  background-color: #438cbc;
}


.modal-interior {
  @include modal-interior;
}

.modal-overlay {
  @include modal-overlay;
}

.modal-header {
  @include modal-header;
}

.modal-button {
  @include modal-button;
}

.modal-button:hover {
  @include modal-button-hover;
}
