/* SESSION FORM */

@import "form_mixin";

.session-container {
  background-color: #f5f5f5;
  padding-top: 70px;
  padding-bottom: 200px;
}

.session-form-header {
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
  font-weight: 500;
  color: #333;
  margin-bottom: 30px;
  text-align: center;
}

.session-form-subheader {
  font-family: 'Roboto', serif;
  color: #333;
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: 300;
}

.session-form-subheader strong {
  font-weight: 500;
  
}
.session-input {
  @include input-field;
  margin: 0 auto;
  margin-bottom: 10px;
  width: 400px;
}

.session-input:focus{
  @include input-field-focus;
  border-color: #888;
}

.session-input:hover{
  border-color: #888;
}

@mixin green-session-button {
  padding-bottom: 14px;
  padding-top: 13px;
  font-size: 18px;
  background-color: #2ea06c;
  border-bottom: 3px solid #2ea06c;
  border-top: 2px solid #2ea06c;
  outline: none;
}

.session-button {
  @include session-button;
  @include green-session-button;
  margin: 0 auto;
  margin-top: 20px;
  width: 400px;
  
}

.session-button:hover {
  @include session-button-hover;
  @include green-session-button;
  border-bottom: 3px solid #1c6644;
}

.session-button:active {
  @include session-button-focus;
  @include green-session-button;
  border-top: 2px solid #1c6644;
}

.session-box {
  display: flex;
  flex-direction: column;
  width: 650px;
  padding-top: 100px;
  padding-bottom: 100px;
  margin: 0 auto;
  border: 1px solid #e5e5e5;
  border-radius: 5px;
  align-items: center;
  background-color: #fff;
  border-bottom: 2px solid #ccc;
}

.session-form {
  display: flex;
  flex-direction: column;
}

.session-errors {
  margin: 0px 40px 10px 40px;
  padding: 5px;
  border: 1px solid #844343;
  background-color: #fff;
  border-radius: 5px;
  width: 300px;
  animation: fadein .5s;
  -webkit-animation: fadein .5s;
}

.session-error {
  margin: 5px;
  display: inline-block;
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: #a34c4c;
}

@-webkit-keyframes fadein {
    from { opacity: 0; }
    to { opacity: 1; }
}
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to { opacity: 1; }
}

.session-alternate {
  color: #333;
  margin-top: 20px;
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
}

.session-alternate a {
  color: #3e85d1;
  font-weight: 500;
}
