/* SESSION FORM */

@import "form_mixin";

.session-form-header {
  font-family: sans-serif;
  font-size: 30px;
  font-weight: 500;
  color: #556c96;
  margin-bottom: 30px;
  text-align: center;
}

.session-input {
  @include input-field;
  margin: 0 auto;
  margin-bottom: 10px;
}

.session-input:focus{
  @include input-field-focus;
}

.session-button {
  @include session-button;
  margin: 0 auto;
  margin-top: 30px;
  width: 200px;
}

.session-button:hover {
  @include session-button-hover;
}

.session-button:focus {
  @include session-button-focus;
}

.session-container {
  display: flex;
  flex-direction: column;

  width: 400px;
  height: 500px;
  margin: 0 auto;
  border: 1px solid #ddd;
  border-radius: 10px;
  margin-top: 50px;
  justify-content: center;
}

.session-form {
  display: flex;
  flex-direction: column;
  

}
