
.fa-circle {
  color: green;
  font-size: 12px;
  padding-right: 5px;
}

.fa-circle-o {
  color: #555;
  font-size: 12px;
  padding-right: 5px;
}

/* SIDEBAR */

.sidebar * {
  font-family: 'Open Sans', sans-serif;
}

.sidebar {
  /*width: 25%;*/
  width: 220px;
  // min-width: 220px;
  background-color: #493043;
  font-weight: 300;
  font-size: 15px;
  height: 100%;
  transition: color .25s ease;
  -webkit-transition: color .25s ease;
}


.sidebar .button:hover {
  background-color: #301c2b;
  cursor: pointer;
  /*color: white;*/
}

.sidebar .link:hover {
  color: white;
  cursor: pointer;
}

.sidebar > * {
  /*padding-left: 15px;*/
  color: white;
}

.sidebar-button {
  width: 100%;
  height: 60px;
  display: flex;
  flex-direction: column;
  padding-left: 15px;
  padding-top: 10px;
}

.sidebar-button:hover .sidebar-button-subtitle {
  color: white;
}

.sidebar-button-title {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 17px;
  padding-bottom: 5px;
}

.sidebar-button-subtitle {
  display: flex;
  font-weight: 300;
  font-size: 13px;
  color: #ddd;
}

.sidebar-section {
  margin-top: 10px;
  margin-bottom: 10px;
  color: #ccc;
}

.sidebar-section-header {
  display: flex;
  justify-content: space-between;
}

.sidebar-section-title {
  padding: 2px 120px 5px 15px;
  transition: color .3s ease;
  -webkit-transition: color .3s ease;
}

.sidebar-section-header .fa-plus {
  color: #aaa;
  padding: 3px 5px;
  // border: 1px solid red;
  border-radius: 50%;
  position: absolute;
  left: 180px;
  transition: color .2s ease;
  -webkit-transition: color .2s ease;
}

.sidebar-section-header .fa-plus:hover {
  color: #eee;
}

.sidebar-section-items li {
  padding: 7px 15px 6px 15px;
  display: flex;
  justify-content: space-between;
}

.sidebar-section-items .selected {
  background-color: #598e84;
  color: white;
}

.sidebar-section-items .selected:hover {
  /* overwriting previous hover fx */
  background-color: #598e84;
  color: white;
}

.fa-times-circle-o {
  color: #aaa;
  display: none;
}

.fa-times-circle-o:hover {
  color: white;
}

.sidebar-section-item:hover .fa-times-circle-o {
  display: inline;
}

.offline {
  color: #999;
}

.sidebar-section-item .you {
  color: #999;
  display: inline;
}
