
.fa-circle {
  color: green;
  font-size: 12px;
  padding-right: 5px;
}

.fa-circle-o {
  color: #555;
  font-size: 12px;
  padding-right: 5px;
}

/* SIDEBAR */

.sidebar * {
  font-family: 'Lato', sans-serif;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
}

.sidebar {
  min-width: 220px;
  background-color: #4f3448;
  font-weight: 300;
  font-size: 15px;
  height: 100%;
  transition: color .25s ease;
  -webkit-transition: color .25s ease;
  position: relative;
}


.sidebar .button:hover, .sidebar-button.selected {
  background-color: #301c2b;
  cursor: pointer;
}

.sidebar .link:hover {
  color: white;
  cursor: pointer;
}

.sidebar > * {
  color: white;
}

.sidebar-button {
  width: 100%;
  height: 60px;
  display: flex;
  flex-direction: column;
  padding-left: 15px;
  padding-top: 10px;
}

.sidebar-button:hover .sidebar-button-subtitle {
  color: white;
}

.sidebar-button-title {
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  font-size: 17px;
  padding-bottom: 5px;
}

.sidebar-button-subtitle {
  display: flex;
  font-weight: 300;
  font-size: 13px;
  color: #ddd;
}

.sidebar-button-name {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  max-width: 180px;
}

.sidebar-section {
  margin-top: 10px;
  margin-bottom: 10px;
  color: #ccc;
}

.sidebar-section-header {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.sidebar-section-title {
  width: 190px;
  padding: 2px 0px 2px 15px;
  margin-bottom: 3px;
  transition: color .3s ease;
  -webkit-transition: color .3s ease;
}

.sidebar-section-header .fa-plus {
  color: #aaa;
  padding: 2px 4px;
  border-radius: 20%;
  position: absolute;
  left: 180px;
  transition: color .2s ease;
  -webkit-transition: color .2s ease;
}

.sidebar-section-header .fa-plus:hover {
  color: #eee;
}

.sidebar-section-item-inner {
  padding: 7px 15px 6px 15px;
  max-width: 200px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.sidebar-section-items .selected {
  background-color: #598e84;
  color: white;
}

.sidebar-section-items .selected:hover {
  background-color: #598e84;
  color: white;
}

.sidebar-section-item {
  position: relative;
}

.sidebar-section-item .fa-times-circle-o {
  color: #aaa;
  display: none;
  position: absolute;
  left: 180px;
  top: 5px;
  margin-top: -3px;
  padding: 3px;
  font-size: 18px;
  background-color: #301c2b;
}

.sidebar-section-item.selected .fa-times-circle-o {
  background-color: #598e84;
}

.sidebar-section-item .fa-times-circle-o:hover {
  color: white;
}

.sidebar-section-item:hover .fa-times-circle-o {
  display: inline;
}

.offline {
  color: #999;
}

.sidebar-section-item .you {
  color: #999;
  display: inline;
}

// BUBBLE

.sidebar-info-bubble {
  position: absolute;
  display: none;
  font-size: 13px;
  font-weight: 400;
  white-space: nowrap;
  text-align: center;
  color:#f5f5f5;
  background:#000;
  padding: 10px;
  border-radius:10px;
  top: -38px;
  left: 10px;
  z-index: 2;
  -webkit-animation: bubble-fadein .6s;
  animation: bubble-fadein .6s;
}

.sidebar-info-bubble:after {
  content:"";
  position:absolute;
  bottom:-7px;
  left:35px;
  border-width:7px 7px 0;
  border-style:solid;
  border-color:#000 transparent;
  display:block;
  width:0;
  z-index: 2;
}

/////////////////

.new {
  left: 130px;
  width: 150px;
}

.new:after {
  left: 54px;
}

.dm-2 {
  left: 130px;
  width: 160px;
}

.dm-2:after {
  left: 54px;
}

.sidebar-hoverable:hover + .sidebar-info-bubble {
  display: block;
}

.sidebar-footer {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  bottom: 0;
  width: 100%;
  padding: 20px 0 30px 0;
  color: #bbb;
  background-color: #4f3448;
}

.sidebar-footer-text {
  cursor: text;
  user-select: text;
  -webkit-user-select: text;
  margin-bottom: 10px;
  text-align: center;
  font-size: 16px;
  line-height: 20px;
}

.sidebar-footer-icons {
  display: flex;
  width: 50%;
  justify-content: space-between;
}

.sidebar-footer-icons a {
  height: 20px;
  width: 20px;
  font-size: 16px;
  line-height: 20px;
}

.sidebar-footer-icons a:hover {
  color: #ddd;
  font-size: 17px;
}
