.fullscreen-index-list-item-left.user {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.fullscreen-index-list-item.name {
  margin-left: 10px;
}

.fullscreen-index-list-item.preview.user {
  margin-top: 10px;
}

@import "form_mixin";

.user-index-input {
  @include input-field;
  width: 550px;
  height: 50px;
}

/* MINI ICONS */

.user-index-mini {
  display: flex;
  justify-content: space-between;
}

.user-index-mini-list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

.user-index-mini-button {
  @include session-button;
  padding-left: 20px;
  padding-right: 20px;
  height: 50px;
}

.user-index-mini-button:hover {
  @include session-button-hover;
}

.user-index-mini-button:active {
  @include session-button-active;
}

.user-index-mini-item {
  display: flex;
  border: 1px solid #3ca0e8;
  background-color: #3ca0e8;
  border-radius: 4px;
  height: 26px;
  align-items: center;
  cursor: pointer;
  color: #fafafa;
  margin-right: 5px;
  margin-bottom: 5px;
}

.user-index-mini-item-icon {
  border-radius: 4px 0 0 4px;
  height: 24px;
  width: 24px;
  background-color: #ddd;
}

.user-index-mini-item-name {
  font-weight: 400;
  font-size: 16px;
  margin-left: 5px;
  margin-right: 5px;
}

.user-index-mini-item .fa-times {
  margin-right: 5px;
}
