.fullscreen-index-list-item-left.user {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.fullscreen-index-list-item.name {
  margin-left: 10px;
}

.fullscreen-index-list-item.preview.user {
  margin-top: 10px;
}

/* MINI ICONS */

.user-index-mini {
  display: flex;
  border: 1px solid #3ca0e8;
  background-color: #3ca0e8;
  border-radius: 4px;
  height: 26px;
  align-items: center;
  cursor: pointer;
  color: #fafafa;
}

.user-index-mini-icon {
  border-radius: 4px 0 0 4px;
  height: 24px;
  width: 24px;
  background-color: #ddd;
}

.user-index-mini-name {
  font-weight: 400;
  font-size: 16px;
  margin-left: 5px;
  margin-right: 5px;
}

.user-index-mini .fa-times {
  margin-right: 5px;
}
