.fullscreen-index-list-item-left.user {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.fullscreen-index-list-item.name {
  margin-left: 10px;
}

.fullscreen-index-list-item.preview.user {
  margin-top: 10px;
}
