/* WORKSPACE */

.workspace {
  height: 100%;
  display: flex;
  font-family: 'Lato', sans-serif;
}

/* CHAT */

.chat {
  align-self: stretch;
  background-color: #ddd;
  height: 100%;
  // min-width: 600px;
  width: 100%;
}
