/* WORKSPACE */

.workspace {
  height: 100%;
  display: flex;
  font-family: 'Lato', sans-serif;
}

.chat-main {
  align-self: stretch;
  background-color: #fff;
  height: 100%;
  width: calc(100% - 220px);
}
