<!DOCTYPE html>
<html>
  <head>
    <title>Slic</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900" rel="stylesheet">
    
    <script src="https://js.pusher.com/4.1/pusher.min.js"></script>
    <script>
      var pusher = new Pusher('ca2400263daf1d3c239d', {
        cluster: 'us2',
        encrypted: true
      });
    </script>
    <script src="http://localhost:60000/autoreload.js"></script>
    <script>
      AutoReload.Watch('localhost:60000');
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
